.card-active {
 .main-content__card-container__card {
  @include cardRotation;
 }

 div.ghost-div:nth-child(1) {
  @include tubeTop;
 }
 div.ghost-div:nth-child(2) {
  @include activeTubeMiddle;
 }
 div.ghost-div:nth-child(4) {
  @include activeTubeBottom;
 }

 .main-content__btn-container button.project-btn {
  background-color: #d83340;
  opacity: 0.7;
  color: #e9e9e9;
  border: 2px solid #eb8a9196;
  filter: drop-shadow(0 0 5px #fd6b6b80);
  box-shadow: 1px 1px 9px 0px rgba(245, 145, 145, 0.66);
  transition: opacity 300ms ease-in-out;
  &:hover {
   opacity: 1;
   cursor: pointer;
   font-weight: bold;
  }
 }
 .main-content__btn-container button:nth-child(2) {
  top: 1em !important;
 }
 .main-content__btn-container button:nth-child(3) {
  top: 2.3em !important;
 }
 .main-content__btn-container button:nth-child(4) {
  bottom: -36vh !important;
 }
 .main-content__card-sideA {
  visibility: hidden;
 }

 @include activeCardSideColor;

 aside.social-media > a > img {
  -webkit-filter: blur(0px) brightness(2.6) contrast(4.8) grayscale(0.18)
   hue-rotate(170deg) invert(0.1) opacity(100%) saturate(4.3) sepia(0.29)
   drop-shadow(0px 1px 3px #000);
  filter: blur(0px) brightness(2.5) contrast(5) grayscale(0) hue-rotate(190deg)
   invert(0) opacity(100%) saturate(6) sepia(6.29)
   drop-shadow(0px 1px 1px $activeSocialMediaColor);

  &:hover {
   -webkit-filter: blur(0px) brightness(2.7) contrast(7) grayscale(0)
    hue-rotate(190deg) invert(0) opacity(100%) saturate(6) sepia(6.29)
    drop-shadow(0px 1px 6px $activeSocialMediaColor);
   filter: blur(0px) brightness(2.7) contrast(7) grayscale(0) hue-rotate(190deg)
    invert(0) opacity(100%) saturate(6) sepia(6.29)
    drop-shadow(0px 1px 6px $activeSocialMediaColor);
  }
 }

 background-color: $activeBodyColor;

 //mobile tray animation

 .main-content__btn-container-tray__top-notch {
  animation: glow 2s ease-in-out;
  animation-delay: 1s;
 }

 @keyframes glow {
  from {
   background-color: $trayNotchBGcolor__hover;
   // background-color: palegreen;
   box-shadow: 0px 0px 5px 3px #87f1977a;
  }
  to {
   background-color: $trayNotchBGcolor__hover;
   // background-color: palegreen;
   box-shadow: 0px 0px 5px 3px #65dd777a;
  }
 }
}

.aboutMeActive {
 @include cardRotation;
}

.project-active {
 h1.main-content__card-sideB-heading {
  position: absolute;
  bottom: 5%;
  left: 32vw;
  // color: #7b2929;
 }

 div.main-content__card-container__card {
  width: 96%;
  top: 1vh;
  left: 2%;
  margin: 0 0;

  opacity: 0.6;
  cursor: pointer;
  &:hover {
   opacity: 1;
   color: #f3f3f3 !important;
  }
 }
}

.project__btn-inactive {
 .main-content__btn-container button.project-btn {
  opacity: 0.5;
 }
}

//svg arrow for mobile activation

.arrowActivate {
 display: flex !important;

 img {
  animation: dropdown 2s;
  animation-delay: calc(var(--order) * 100ms);
  //   display: none;
  opacity: 0;
 }

 @keyframes dropdown {
  from {
   opacity: 0.6;
   bottom: 0vh;
  }
  to {
   opacity: 1;
   bottom: -50vh;
  }
 }
}

.projectPromoActivateMobile {
 section.main-content__screen-container {
  display: inline-block;
 }
 .main-content__screen.project#promo-screen {
  display: flex;
 }
}

.projectTransactionActivate {
 section.main-content__screen-container {
  display: inline-block;
 }
 .main-content__screen.project#transactional-screen {
  display: flex;
 }
}

.projectNewsletterActivate {
 section.main-content__screen-container {
  display: inline-block;
 }
 .main-content__screen.project#newsletter-screen {
  display: flex;
 }
}

.projectLandingPageActivate {
 section.main-content__screen-container {
  display: inline-block;
 }
 .main-content__screen.project#landingPage-screen {
  display: flex;
 }
}

.traySlideDown {
 transform: translateY(0%);
}

//tray activation

.trayActivate {
 background-color: $activeBodyColor;

 aside.main-content__btn-container-tray {
  bottom: 0%;
  // bottom: 0%;
  background-color: rgb(17, 22, 22) !important;
 }

 div.main-content__card-container__card {
  @include cardRotation;
 }

 @include activeCardSideColor;

 h1.main-content__card-sideB-heading {
  position: absolute;
  bottom: 5%;
  left: 32vw;
  // color: #7b2929;
 }

 div.main-content__card-container__card {
  width: 96%;
  top: 1vh;
  left: 2%;
  margin: 0 0;

  opacity: 0.6;
  cursor: pointer;
  &:hover {
   opacity: 1;
   color: #f3f3f3 !important;
  }
 }

 article.main-content__card-sideB__text-container {
  display: none;
 }
 article.main-content__card-sideB__header-container {
  border: none;
  font-size: 5.5vw;
 }

 div.main-content__card-sideA,
 div.main-content__card-sideB {
  width: 100%;
  height: 13vh;
 }
}

.cardSlideTop {
 h1.main-content__card-sideB-heading {
  position: absolute;
  bottom: 5%;
  left: 32vw;
  // color: #7b2929;
 }

 div.main-content__card-container__card {
  width: 96%;
  top: 1vh;
  left: 2%;
  margin: 0 0;

  opacity: 0.6;
  cursor: pointer;
  &:hover {
   opacity: 1;
   color: #f3f3f3 !important;
  }
 }

 article.main-content__card-sideB__text-container {
  display: none;
 }
 article.main-content__card-sideB__header-container {
  border: none;
  font-size: 5.5vw;
 }
}

//project slider

.slideLeft {
 transform: translateX(-100%);
}

//project screen

.project-active {
 display: block !important;
 width: 100vw;
 height: 100vh;
 position: absolute;
 background: #101010de;
 top: 0;
 left: 0;
 text-align: center;
 z-index: 2;

 .projectScreen__project_modal-close {
  width: 100%;
  height: 60vh;
  // background: #faebd72b;
  position: absolute;
 }
 .projectScreen__project-cross {
  color: rgb(247, 247, 247);
  font-size: 4.4rem;
  position: absolute;
  right: 3%;
  cursor: pointer;
  &:hover {
   color: rgb(197, 197, 197);
   font-size: 4.6rem;
  }
 }

 .projectScreen__project-project {
  width: 80vw;
  height: 80vh;
  //   background: #5c5c5c;
  border-radius: 4px;
  position: relative;
  margin: 0 auto;
  top: 5%;
  text-align: center;
  z-index: -1;
  //   @include flexCentered;
  .projectScreen__project-project__header {
   color: whitesmoke;
   font-size: 2.5rem;
   letter-spacing: 1px;
   margin-bottom: 2vh;
   font-family: Arial, Helvetica, sans-serif;
   //  font-family: 'Reenie Beanie', cursive;
  }

  .projectScreen__project-project__wrapper {
   @include flexCentered;
   @include transition-ease;
   width: 80vw;
   height: 80vh;
   //    background-color: rgb(77, 67, 51);
   & > img {
    width: 100%;
    max-width: 59.2em;
    max-height: 34em;
    max-height: 100%;
    margin: 0 2em;
   }
  }
 }

 .navigation-container {
  position: absolute;
  //   bottom: 4vh;
  //   left: 40vw;
  top: 50%;
  width: 100%;
 }

 .fa {
  color: whitesmoke;
  font-size: 3.4rem;
  background-color: rgb(33, 143, 143);
  //   background-color: #39a397;
  border-radius: 50%;
  padding: 0.2em;
  width: 1.4em;
  margin: 0 1em;
  display: none;
  cursor: pointer;
  &:hover {
   background-color: rgb(34, 90, 90);
  }
 }
 .fa.fa-angle-left {
  position: absolute;
  left: 0;
 }

 .fa.fa-angle-right {
  position: absolute;
  right: 0;
 }
}

.promo-active {
 display: inline-block !important;
}
