@import url('https://fonts.googleapis.com/css2?family=Reem+Kufi&display=swap');

* {
 margin: 0;
 padding: 0;
}

*,
*::after,
*::before {
 box-sizing: inherit;
}

html {
 box-sizing: border-box;
 font-size: 62.5%;
}

body {
 background: $defaultBodyColor;
 transition: background 1s ease-in-out;
 overflow: hidden;
}

.container {
 display: grid;
 grid-template-columns: 4fr 7em;
 //  grid-template-rows: 6em 1fr;
 gap: 0px 0px;
 grid-template-areas:
  'header header '
  'mainContent social';
 padding: 1em 2em;
 height: 100vh;
}

.header {
 //  border: $borderTest;
 grid-area: header;
 @include flexCentered;
 justify-content: space-between;
 padding: 0 2em;
 &__logo-container {
  img {
   width: 5em;
  }
  cursor: pointer;
  &:hover {
   transform: scale(1.08);
  }
 }
 &__contact {
  width: 21vh;
  padding: 0.8em 0.2em;
  border-radius: 0.3em;
  border: none;
  background: $contactBtnColor;
  color: #d6d6d6;
  font-family: 'Reem Kufi', sans-serif;
  letter-spacing: 1px;
  margin-right: 2em;
  cursor: pointer;
  @include transition-fast;
  &:hover {
   background-color: $contactBtnColorHover;
   color: #2e2e2e;
   box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.25);
  }
 }
}

.main-content__card-container {
 grid-area: mainContent;
}

.social-media {
 grid-area: social;
}

a {
 text-decoration: none;
}

.main-content_indicator-container {
 //  background-color: rgba(0, 0, 255, 0.219);
 display: inline;
 position: absolute;
 height: 10em;
 right: 18%;
 img#handIndicator {
  width: 40px;
  height: 40px;
  position: relative;
  bottom: -3em;
  right: -1em;
  animation: indicate 1s ease-in-out;
  animation-delay: 3s;
 }
 > p {
  display: inline;
  color: rgb(58, 58, 58);
  font-size: 1.3rem;
  word-spacing: 5px;
  font-family: 'Reem Kufi', sans-serif;
 }
}

@keyframes indicate {
 from {
  bottom: -3em;
 }
 to {
  bottom: -5em;
 }
}
