@mixin flexCentered {
 display: flex;
 display: -webkit-flex;
 display: -moz-flex;
 display: -ms-flex;
 justify-content: center;
 align-items: center;
}

@mixin BorderTestSection {
 border-top: 2px solid rgb(243, 7, 7);
 border-bottom: 2px solid rgb(209, 34, 22);
}

@mixin transition-ease {
 transition: all 400ms ease-in-out;
}
@mixin transition-fast {
 transition: all 200ms ease-in-out;
}

//active card
@mixin tubeTop {
 border-top: 4px solid $activeTubeColor !important;
 border-right: 4px solid $activeTubeColor !important;
 border-bottom: 4px solid $activeTubeColor !important;
 filter: drop-shadow(0 -3px 2px #fd6b6b) drop-shadow(0 3px 2px #fd6b6b);
}

@mixin tubeMiddle {
 filter: drop-shadow(0 -3px 2px #fd6b6b) drop-shadow(0 3px 2px #fd6b6b);
 border-bottom: 4px solid $activeTubeColor !important;
}

@mixin tubeBottom {
 filter: drop-shadow(0 -3px 2px #fd6b6b) drop-shadow(0 3px 2px #fd6b6b);
 border-right: 4px solid $activeTubeColor !important;
 border-bottom: 4px solid $activeTubeColor !important;
}
