.main-content {
 height: 80vh;
 display: grid;
 grid-template-columns: 18em 4fr;
 grid-template-areas: 'content content';
 margin-top: 3em;
 padding: 2em;
 &__btn-container {
  grid-area: projects;
  display: flex;
  flex-direction: column;
  align-items: end;

  button.project-btn {
   margin: 1em 0;
  }

  button#transactional {
   position: relative;
   top: 1.3em;
  }
  button#newsletter {
   position: relative;
   top: 2.8em;
  }
  button#landingPage {
   position: relative;
   bottom: -22em;
  }
 }
 &__card-container {
  grid-area: content;
  padding-top: 3em;
  .ghost-div__container {
   height: 100%;
   & div.ghost-div {
    width: 70vw;
    height: 10vh;
   }

   div.ghost-div:nth-child(1) {
    @include defaultTubeTop;
   }
   div.ghost-div:nth-child(2) {
    @include defaultTubeMiddle;
    border-bottom-left-radius: 1px;
   }
   div.ghost-div:nth-child(3) {
    border-right: 4px solid $tubeColor;
    @include tubeFilter;
   }

   div.ghost-div:last-child {
    @include defaultTubeBottom;
    position: relative;
    height: 30vh;
    button.project-btn#landingPage {
     position: absolute;
     bottom: 0;
    }
   }
  }

  &__card {
   @include transition-ease;
   position: absolute;
   right: 11vw;
   top: 29vh;
  }
 }
 &__card-sideA {
  position: relative;
  @include defaultCardStyle;
  &-name {
   width: 18vw;
  }

  &-version {
   width: 4vw;
   position: absolute;
   right: 24px;
   bottom: 21px;
  }
 }

 &__card-sideB {
  position: absolute;
  top: 0;
  color: rgb(243, 243, 243);
  z-index: -1;
  height: auto;
  @include defaultCardStyle;
  &__header-container {
   font-family: 'Nova Square', cursive;
   padding: 0.4em;
   font-size: 2.5rem;
   border-bottom: 2px solid white;
   text-align: right;
  }

  &__text-container {
   padding: 1em;
   margin-top: 2em;
   font-size: 1.5rem;
   line-height: 26px;
   font-family: 'Poppins', sans-serif;
   font-weight: bold;
  }
 }
}

//social media default stylings
.social-media {
 align-self: end;
 align-items: last baseline;
 display: flex;
 flex-direction: column;
 margin-bottom: 1.5em;

 & > a > img {
  width: 3.6em;
  margin: 0.4em 0;
  transition: -webkit-filter 0.2s ease-in;

  &:hover {
   -webkit-filter: blur(0px) brightness(2.7) contrast(7) grayscale(0)
    hue-rotate(190deg) invert(0) opacity(100%) saturate(6) sepia(6.29)
    drop-shadow(0px 1px 6px $activeSocialMediaColor);
   filter: blur(0px) brightness(2.7) contrast(7) grayscale(0) hue-rotate(190deg)
    invert(0) opacity(100%) saturate(6) sepia(6.29)
    drop-shadow(0px 1px 6px $activeSocialMediaColor);
  }
 }
}

//svg for mobile animations

div.svg-arrow__container {
 position: absolute;
 padding: 1em;
 left: 67%;
 bottom: 26em;
 @include transition-ease;
 display: none;
 & > img {
  width: 4em;
  position: absolute;
  transition: all 5s ease;
 }
}
