@import url('https://fonts.googleapis.com/css2?family=Nova+Square&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nova+Square&family=Poppins:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Reenie+Beanie&display=swap');

.main-content {
 //  @include BorderTestSection;
 height: 80vh;
 display: grid;
 grid-template-columns: 18em 4fr;
 grid-template-areas: 'projects content';
 margin-top: 3em;
 padding: 2em;
 //  perspective: 300px;
 &__btn-container {
  //   border: $borderTest;
  grid-area: projects;
  display: flex;
  flex-direction: column;
  align-items: end;

  button.project-btn {
   margin: 1em 0;
  }

  button#transactional {
   position: relative;
   top: 1.3em;
  }
  button#newsletter {
   position: relative;
   top: 2.8em;
  }
  button#landingPage {
   position: relative;
   bottom: -22em;
  }
 }
 &__card-container {
  //   border: $borderTest2;
  grid-area: content;
  //   height: 20vh;
  //   width: 100vw;
  padding-top: 3em;
  .ghost-div__container {
   height: 100%;

   & div.ghost-div:not(:last-child) {
    // border: 1px solid black;
    width: 53vw;
    height: 10vh;
   }

   div.ghost-div:nth-child(1) {
    // border-top: 4px solid $tubeColor;
    // border-right: 4px solid $tubeColor;
    // border-bottom: 4px solid $tubeColor;
    @include defaultTubeTop;
   }
   div.ghost-div:nth-child(2) {
    @include defaultTubeMiddle;
   }

   div.ghost-div:last-child {
    @include defaultTubeBottom;
    width: 53vw;
    height: 30vh;
   }
  }

  &__card {
   transition: all 2s;
   position: absolute;
   right: 11vw;
   top: 29vh;
  }
 }
 &__card-sideA {
  // width: 32vw;
  // height: 41vh;
  // border-radius: 1em;
  // background-color: #f04f5c;
  // //   background-color: crimson;
  // display: flex;
  // flex-direction: column;
  // padding: 2em 1em;
  position: relative;
  //   right: 11vw;
  //   top: 29vh;
  // transition: all 1s;
  // cursor: pointer;
  @include defaultCardStyle;
  &-name {
   width: 18vw;
  }

  &-version {
   width: 4vw;
   position: relative;
   bottom: -17em;
   right: -84%;
  }
 }

 &__card-sideB {
  // width: 32vw;
  // height: 41vh;
  // border-radius: 1em;
  // background-color: #f04f5c;
  // //   background-color: crimson;
  // display: flex;
  // flex-direction: column;
  // padding: 2em 1em;
  position: absolute;
  //   right: 11vw;
  top: 0;
  // transition: all 1s;
  color: rgb(243, 243, 243);
  z-index: -1;
  // cursor: pointer;
  @include defaultCardStyle;
  &__header-container {
   font-family: 'Nova Square', cursive;
   padding: 0.4em;
   font-size: 2.5rem;
   border-bottom: 2px solid white;
   text-align: right;
  }

  &__text-container {
   padding: 1em;
   //    border: 1px solid aliceblue;
   margin-top: 2em;
   font-size: 1.5rem;
   line-height: 26px;
   font-family: 'Poppins', sans-serif;
   font-weight: bold;
  }
 }

 &__screen.project {
  width: 72vw;
  height: 80vh;
  border: 1px solid aliceblue;
  position: absolute;
  top: 14vh;
  // background: antiquewhite;
  background: linear-gradient(332.03deg, rgb(98, 46, 46), rgb(149, 141, 141));
  left: 17vw;
  border-radius: 7px;
  // opacity: 0.96;
  border: 2px solid $activeTubeColor;
  // box-shadow: 0px 0px 11px #ff8888;
  filter: drop-shadow(0 -3px 2px #fa9898) drop-shadow(0 3px 2px #fa9898);
  @include flexCentered;
  // flex-wrap: wrap;
  // overflow-y: scroll;
 }

 &__screenProject-card {
  width: 36vw;
  display: inline-block;
  height: 50vh;
  // border: $borderTest;
 }

 &__screenproject-header {
  font-family: 'Reenie Beanie', cursive;
  position: absolute;
  top: 4vh;
  right: 4vw;
  font-size: 3.5rem;
  color: #dedede;
 }

 &__screen.project#landingPage-screen,
 &__screen.project#newsletter-screen,
 &__screen.project#transactional-screen,
 &__screen.project#promo-screen,
 &__screen.project#contact {
  display: none;
 }
}

.social-media {
 align-self: end;
 align-items: last baseline;
 display: flex;
 flex-direction: column;
 margin-bottom: 1.5em;

 & > a > img {
  width: 3.6em;
  margin: 0.4em 0;
  transition: -webkit-filter 0.2s ease-in;

  &:hover {
   -webkit-filter: blur(0px) brightness(2.7) contrast(7) grayscale(0)
    hue-rotate(190deg) invert(0) opacity(100%) saturate(6) sepia(6.29)
    drop-shadow(0px 1px 6px $activeSocialMediaColor);
   filter: blur(0px) brightness(2.7) contrast(7) grayscale(0) hue-rotate(190deg)
    invert(0) opacity(100%) saturate(6) sepia(6.29)
    drop-shadow(0px 1px 6px $activeSocialMediaColor);
  }
 }
}
