.main-content {
 &__screen-container {
  display: none;
 }
 &__screen.project {
  width: 60vw;
  height: 76vh;

  position: absolute;
  top: 13vh;
  background: linear-gradient(332.03deg, #5d3112, #372525);
  margin-left: 30vw;
  border-radius: 7px;

  filter: drop-shadow(0 3px 2px #1f2020);
  @include flexCentered;
 }

 &__screenproject-card__wrapper {
  @include flexCentered;
  width: 100%;
 }

 &__screenProject-card {
  width: 36vw;
  display: inline-block;
  height: 50vh;
  // border: $borderTest;
 }

 &__screenproject-header {
  font-family: 'Reenie Beanie', cursive;
  position: absolute;
  top: 4vh;
  right: 4vw;
  font-size: 3.5rem;
  color: #dedede;
 }

 &__screen.project#landingPage-screen,
 &__screen.project#newsletter-screen,
 &__screen.project#transactional-screen,
 &__screen.project#promo-screen,
 &__screen.project#contact {
  display: none;
 }

 @media screen and (max-width: 500px) {
  &__screen.project {
   display: flex;
   margin: 0 auto;
   left: 3vw;
   flex-wrap: nowrap;
   width: 94%;
   height: 70vh;
   border: 1px solid aliceblue;
   position: absolute;
   top: 17vh;
   border-radius: 7px;
   border: 1px solid #4e0e13e0;
   overflow-x: scroll;
  }

  //root: rule for project Screen

  &__screen.project#contact {
   padding: 4em;
   text-align: center;
  }

  div.project-card__container.newsletter,
  div.project-card__container.transactional {
   left: -21vw;
  }

  &__screenproject-header {
   position: sticky;
   left: 16vw;
   right: 0;
   bottom: 13.4em;
   top: 0;
   flex-shrink: 0;
  }
  &__screenproject-card__wrapper {
   display: flex;
   margin-left: 21vw;
   margin-top: 6vh;
  }

  div.project-card__container {
   min-width: 62vw;
   width: 62vw;
  }
 }
}

.navigation-container {
 position: absolute;
 top: 50%;
 width: 100%;
 left: 0;
}

.fa {
 color: whitesmoke;

 background-color: rgb(33, 143, 143);
 border-radius: 50%;
 padding: 0.2em;
 width: 1.4em;
 margin: 0 1em 0 0.4em;
 font-weight: bold;
 display: none;
 cursor: pointer;
 &:hover {
  background-color: rgb(34, 90, 90);
 }
}
.fa.fa-angle-left {
 position: absolute;
 left: 0;
 font-size: 4.2rem;
}

.fa.fa-angle-right {
 position: absolute;
 right: 0;
 font-size: 4.2rem;
}

p.projectScreen__project-project__liveLink {
 font-size: 1.3rem;
 font-family: Arial, Helvetica, sans-serif;
 cursor: pointer;
 margin-bottom: 0.8em;
 position: relative;
 //  z-index: 1;
 > a {
  color: $liveLinkColor;
  cursor: pointer;
 }
}

div.landingPage {
 position: absolute;
 @include transition-ease;

 &.slide2,
 &.slide4 {
  z-index: 1;
 }
}

.hidden {
 display: none;
}

.projectScreen__project {
 display: none;
}

.projectScreen__project-project#project-promo {
 display: none;
}

.projectScreen__project-project#project-transactional {
 display: none;
}

.projectScreen__project-project#project-newsletter {
 display: none;
}

.projectScreen__project-project#project-landingPage {
 display: none;
}
