.main-content {
 &__screen-container {
  display: none;
 }
 &__screen.project {
  width: 60vw;
  height: 76vh;

  position: absolute;
  top: 13vh;
  // background: antiquewhite;
  background: linear-gradient(332.03deg, rgb(98, 46, 46), rgb(149, 141, 141));
  //   left: 17vw;
  margin-left: 11vw;
  border-radius: 7px;
  // opacity: 0.96;
  //   border: 2px solid $activeTubeColor;
  // box-shadow: 0px 0px 11px #ff8888;
  filter: drop-shadow(0 -3px 1px #c67e7e) drop-shadow(0 2px 2px #c67e7e);
  @include flexCentered;
  // flex-wrap: wrap;
  // overflow-y: scroll;
 }

 &__screenproject-card__wrapper {
  @include flexCentered;
  width: 100%;
 }

 &__screenProject-card {
  width: 36vw;
  display: inline-block;
  height: 50vh;
  // border: $borderTest;
 }

 &__screenproject-header {
  font-family: 'Reenie Beanie', cursive;
  position: absolute;
  top: 4vh;
  right: 4vw;
  font-size: 3.5rem;
  color: #dedede;
 }

 &__screen.project#landingPage-screen,
 &__screen.project#newsletter-screen,
 &__screen.project#transactional-screen,
 &__screen.project#promo-screen,
 &__screen.project#contact {
  display: none;
 }

 @media screen and (max-width: 500px) {
  &__screen.project {
   display: flex;
   margin: 0 auto;
   left: 3vw;
   flex-wrap: nowrap;
   width: 94%;
   height: 70vh;
   border: 1px solid aliceblue;
   position: absolute;
   top: 17vh;
   background: linear-gradient(332.03deg, #622e2e, #958d8d);
   border-radius: 7px;
   border: 2px solid #eb8a91;
   filter: drop-shadow(0 -3px 2px #fa9898) drop-shadow(0 3px 2px #fa9898);
   overflow-x: scroll;
  }

  //root: rule for project Screen

  &__screen.project#landingPage-screen,
  &__screen.project#newsletter-screen,
  &__screen.project#transactional-screen,
  &__screen.project#promo-screen &__screen.project#contact {
   //    display: flex;
  }
  &__screen.project#contact {
   padding: 4em;
   text-align: center;
  }

  div.project-card__container.newsletter,
  div.project-card__container.transactional {
   left: -21vw;
  }

  &__screenproject-header {
   position: sticky;
   left: 46vw;
   right: 0;
   bottom: 13.4em;
   top: 0;
   flex-shrink: 0;

   &.transactional {
    left: 37vw;
   }
  }
  &__screenproject-card__wrapper {
   display: flex;
   margin-left: 21vw;
   margin-top: 6vh;
  }

  div.project-card__container {
   min-width: 62vw;
   width: 62vw;
  }
 }
}

.projectScreen__project {
 display: none;
}

.projectScreen__project-project#project-promo {
 display: none;
}

.projectScreen__project-project#project-transactional {
 //  display: none;
}
