$borderTest: 1px solid rgb(17, 133, 26);
$borderTest2: 1px solid rgb(17, 96, 133);
$tubeColor: rgba(0, 0, 0, 0.116);
$tubeColorActive: #f7858f;
// $contactBtnColor: #50c5b7;
$contactBtnColor: #219f90;
$contactBtnColorHover: #50e4d2;
$activeTubeColor: #e0656d;
$defaultBodyColor: linear-gradient(170deg, #ffdc60 0%, #945504 100%);
$activeBodyColor: linear-gradient(170deg, #c5a125 0%, #eda447 100%);
$activeBodyColor2: linear-gradient(
 124.67deg,
 #157795 0%,
 rgba(25, 111, 66, 0.99) 32.84%,
 rgba(6, 147, 88, 0.85) 68.54%
);
$activeBtnColor: #f04f5c;
$activeBtnTextColor: #f5dbdd;
$activeCardColor: #9c1622;
$activeSocialMediaColor: #f16d78;
$activeCardSideColor: #9f1e28;
$trayNotchBGcolor__hover: #8dc59d;
$trayNotchBGcolor: #349085;
$liveLinkColor: rgb(248, 155, 170);
$hoverColor: #f9b9b7;
